


<div class='background-container black hero' style='padding-top: 50px; padding-bottom: 300px;'>
<div class='container' >
<!-- <div class='talent-row'>
<div class="talent-d5343 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Fanium</p><p class="location">San Diego</p></div></div>
<div class="talent-d5994 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Lookout</p><p class="location">SF</p></div></div>
<div class="talent-d31722 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Betaworks</p><p class="location">NYC</p></div></div>
<div class="talent-d30888 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Namo Media</p><p class="location">SF</p></div></div>
<div class="talent-d23878 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">SendHub</p><p class="location">SF</p></div></div>
<div class="talent-d12204 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">AdRoll</p><p class="location">SF</p></div></div>
<div class="talent-d12213 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Pulse</p><p class="location">SF</p></div></div>
<div class="talent-d40228 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Counsyl</p><p class="location">SF</p></div></div>
<div class="talent-d27192 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Groupon</p><p class="location">SF</p></div></div>
<div class="talent-d32927 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Unified<br />Social</p><p class="location">NYC</p></div></div>
<div class="talent-d27944 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">OneReceipt</p><p class="location">NYC</p></div></div>
</div>
<div class='second talent-row'>
<div class="talent-d29549 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Clover</p><p class="location">SF</p></div></div>
<div class="talent-d29561 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Coatue</p><p class="location">SF</p></div></div>
<div class="talent-d23747 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">BoostCTR</p><p class="location">SF</p></div></div>
<div class="talent-d26929 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Mixpanel</p><p class="location">SF</p></div></div>
<div class="talent-d31846 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Groupon</p><p class="location">SF</p></div></div>
<div class="talent-d27293 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">PetFlow</p><p class="location">NYC</p></div></div>
<div class="talent-d18710 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Hired</p><p class="location">SF</p></div></div>
<div class="talent-d5482 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Lookout</p><p class="location">SF</p></div></div>
<div class="talent-d12216 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">HUMIN</p><p class="location">SF</p></div></div>
<div class="talent-d29142 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">OpenTable</p><p class="location">SF</p></div></div>
<div class="talent-d12199 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Mosaic</p><p class="location">SF</p></div></div>
</div>
<div class='talent-col left hide visible-lg'>
<div class="talent-d20429 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Lookout</p><p class="location">SF</p></div></div>
<div class="talent-d27284 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">HealthTap</p><p class="location">SF</p></div></div>
<div class="talent-d27100 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Mosaic</p><p class="location">SF</p></div></div>
</div> -->
<div class='col-lg-12 col-md-12 col-sm-12 hero-content'>
<h1 class='slogan' style='text-align:center;'>Where companies and project professionals connect.</h1>
<!-- <h2>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h2> -->
<div class='row'>
<!-- <div class='col-lg-4 col-md-4 col-sm-4 hidden-xs'>
<p class='role'>Software Engineers</p>
<p class='role'>Product Managers</p>
</div> -->

<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
<p class="role"></p>
<p class="role"></p>
</div>



<div class='col-lg-4 col-md-4 col-sm-4 hero-cta'
	style="padding-top:50px;"
>




<div class="btn btn-huge btn-success btn-block" style= "font-size: 30px; background-color:maroon; border-color:maroon;">

	<%= link_to 'Accounting', new_user_registration_path %>
	</div>

</div>


<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
<p class="role"></p>
<p class="role"></p>
</div>
</div>



<!-- <div class='col-lg-6 col-md-6 col-sm-6 hero-cta'>
<a href="techIndex.html" class="btn btn-huge btn-success btn-block"></a>
</div> -->
<!-- <div class='col-lg-3 col-md-3 col-sm-3 hidden-xs'>
<p class='role'>UX/UI Designers</p>
<p class='role'>Data Scientists</p>
</div> -->
</div>
</div>
<!-- <div class='talent-col pull-right hide visible-lg'>
<div class="talent-d18692 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Hired</p><p class="location">SF</p></div></div>
<div class="talent-d27951 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Couch<br />Surfing</p><p class="location">SF</p></div></div>
<div class="talent-d19746 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Life360</p><p class="location">SF</p></div></div>
</div> -->
<!-- <div class='talent-row'>
<div class="talent-d31641 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Clever</p><p class="location">SF</p></div></div>
<div class="talent-d33049 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Betaworks</p><p class="location">NYC</p></div></div>
<div class="talent-d24254 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Airtime</p><p class="location">NYC</p></div></div>
<div class="talent-d30754 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Cureatr</p><p class="location">NYC</p></div></div>
<div class="talent-d26812 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Upstart</p><p class="location">SF</p></div></div>
<div class="talent-d20254 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Lookout</p><p class="location">SF</p></div></div>
<div class="talent-d16265 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">AdRoll</p><p class="location">SF</p></div></div>
<div class="talent-d27255 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">SV Biosys</p><p class="location">SF</p></div></div>
<div class="talent-d34359 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Loc. Labs</p><p class="location">SF</p></div></div>
<div class="talent-d33312 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Lookout</p><p class="location">SF</p></div></div>
<div class="talent-d36970 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Alation</p><p class="location">SF</p></div></div>
</div>
<div class='sixth talent-row'>
<div class="talent-d39393 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Hangtime</p><p class="location">SF</p></div></div>
<div class="talent-d23823 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">iSocket</p><p class="location">SF</p></div></div>
<div class="talent-d42220 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">HUMIN</p><p class="location">SF</p></div></div>
<div class="talent-d14420 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">HUMIN</p><p class="location">SF</p></div></div>
<div class="talent-d19692 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">FlightCar</p><p class="location">Boston</p></div></div>
<div class="talent-d31649 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">imo</p><p class="location">SF</p></div></div>
<div class="talent-d14091 "><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Herelabs</p><p class="location">SF</p></div></div>
<div class="talent-d18129 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">NanoSatisfi</p><p class="location">SF</p></div></div>
<div class="talent-d36616 hidden-sm"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Unified<br />Social</p><p class="location">NYC</p></div></div>
<div class="talent-d28200 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Minerva</p><p class="location">SF</p></div></div>
<div class="talent-d34331 hide visible-lg"><div class="hired"><p class="lead-in">HIRED <span class="small">by</span></p><p class="name">Alation</p><p class="location">SF</p></div></div>
</div> -->
</div>
</div>
<!-- <div class='market-stats'>
<div class='container'>
<div class='row'>
<div class='col-lg-12'>
<h3>
<span class='highlight'>
<span class="digit">$</span><span class="digit">1</span>,<span class="digit">7</span><span class="digit">7</span><span class="digit">9</span>,<span class="digit">6</span><span class="digit">4</span><span class="digit">3</span>,<span class="digit">2</span><span class="digit">2</span><span class="digit">8</span>
</span>
IN OFFERS,
<div class='visible-xs'>
<br>
</div>
PLACED BY
<span class='highlight'>
<span class="digit">8</span><span class="digit">6</span><span class="digit">8</span>
</span>
EMPLOYERS.
<div class='visible-xs'>
<br>
</div>
<span class='highlight'>
<span class="digit">8</span><span class="digit">7</span><span class="digit">%</span>
</span>
OF PARTICIPANTS RECEIVED AN OFFER.
</h3>
</div>
</div>
</div>
</div> -->

<!--   








<div class='benefits background-container gray37'>
<div class='container'>
<div class='row'>
<div class='benefit col-lg-4 col-md-6 col-sm-6'>
<h2 class='page-header'>About Infomation</h2>
<p>
Get
<b> About Information</b>
in one week. Interview with the companies you like.
</p>
</div>
<div class='benefit col-lg-4 col-md-6 col-sm-6'>
<h2 class='page-header'>Salary Upfront</h2>
<p>
Save time. Know your future salary, equity, and signing bonus
<b>before you interview.</b>
</p>
</div>
<div class='benefit col-lg-4 col-md-6 col-sm-6'>
<h2 class='page-header'>More Choices</h2>
<p>
The perfect job isn't about a paycheck.  We help you
<b>find the right home.</b>
</p>
</div>
<div class='benefit col-lg-4 col-md-6 col-sm-6'>
<h2 class='page-header'>Hired Signing Bonus</h2>
<p>
Land a job using and we send you a
<b>$2,000 signing bonus.</b>
Think of it as our way of saying congratulations.
</p>
</div>
<div class='benefit col-lg-4 col-md-6 col-sm-6'>
<h2 class='page-header'>Personal Advocacy</h2>
<p>
<b>We’ve got your back.</b>
Your talent advocate works for you from sign-up to offer signing.
</p>
</div>
<div class='benefit col-lg-4 col-md-6 col-sm-6'>
<h2 class='page-header'>Privacy</h2>
<p>
<b>Your profile is not visible</b>
to the public or your current employer.
</p>
</div>
</div>
</div>
</div>
<div class='screenshot background-container gray40'>
<div class='container'>
<div class='row flush'>
<div class='col-lg-2 col-md-2 col-xs-12 left-column'>
<div class='callout-container'>
<div class='screenshot-explanation'>
<table>
<tr>
<td>
<p>
We make you look good.
</p>
</td>
<td>
<div class='chevron-right'>
<i class='icon-chevron-right'></i>
</div>
</td>
</tr>
</table>
</div>
</div>
</div>
<div class='col-lg-8 col-md-8'>
<div class='screenshot-explanation'>
<img alt="Screenshot-blaine" src="https://dmrxx81gnj0ct.cloudfront.net/assets/homepage/screenshot-blaine-09bd2a0f27045b3bb60b26c367286916.png" />
<div class='row flush'>
<div class='ban-circle'>
<p>
<i class='icon-ban-circle'></i>
Your profile is hidden from current & past employers.
</p>
</div>
</div>
</div>
</div>
<div class='col-lg-2 col-md-2 col-xs-12 right-column'>
<div class='first'>
<div class='screenshot-explanation'>
<table>
<tr>
<td>
<div class='chevron-left'>
<i class='icon-chevron-left'></i>
</div>
</td>
<td>
<p>
800+ employers.
</p>
</td>
</tr>
</table>
</div>
</div>
<div class='screenshot-explanation'>
<table>
<tr>
<td>
<div class='chevron-left'>
<i class='icon-chevron-left'></i>
</div>
</td>
<td>
<p>Your future salary &amp; equity is disclosed before you interview.</p>
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
<div class='background-container gray37 how-it-works'>
<div class='container'>
<div class='row'>
<div class='col-lg-3 col-md-3 col-sm-3'>
<h2 class='page-header normal-case'>Get Approved</h2>
<p>
Apply to be included in one of our weekly auctions.
</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3'>
<h2 class='page-header normal-case'>Get Offers</h2>
<p>
Receive offers with info about the team, role, and salary.
</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3'>
<h2 class='page-header normal-case'>Interview</h2>
<p>
Choose which employers you want to interview with.
</p>
</div>
<div class='col-lg-3 col-md-3 col-sm-3'>
<h2 class='page-header normal-case'>Find Your Home</h2>
<p>
Level up and start your next journey!
</p>
</div>
</div>
<div class='row flush hidden-xs'>
<div class='col-lg-12'>
<img alt="How-it-works-progression" src="https://dmrxx81gnj0ct.cloudfront.net/assets/homepage/how-it-works-progression-37aa3ff7623baa51af682b3e177d81a7.png" />
</div>
</div>
</div>
</div>
<div class='talent-advocate background-container gray40'>
<div class='container'>
<div class='row flush'>
<div class='col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10'>
<h2 class='talent-advocate-headline page-header'>Your personal talent advocate helps you each step of the way</h2>
</div>
<div class='col-lg-2 col-md-2 col-sm-2 trent-container'>
<img alt="Trent-krupp" src="https://dmrxx81gnj0ct.cloudfront.net/assets/about/trent-krupp-67bc76fa4d0a79cf57594806f83895e8.jpg" />
<div class='trent-name'>
<h4>Trent Krupp</h4>
<h5>Talent Advocate</h5>
</div>
</div>
<div class='col-lg-2 col-md-2 col-sm-2'>
<p>
<b>We help you&hellip;</b>
</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>improve your profile to help tell your story</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>prepare for interviews and call you an Uber</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>understand the market and negotiate your offer</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>write your resignation letter and book movers</p>
</div>
</div>
</div>
</div>
<div class='create-your-profile benefits background-container gray37'>
<div class='container'>
<div class='row flush'>
<div class='col-lg-9 col-md-9 col-sm-9'>
<h1 class='normal-case'>Create your profile now, and start interviewing when you’re ready</h1>
</div>
<div class='col-lg-3 col-md-3 col-sm-3'>
<a href="/signup?btn=HomeApplyStartInterviewing" class="btn btn-huge btn-block btn-success">Apply</a>
</div>
</div>
</div>
</div>
<div class='background-container short gray40'>
<div class='container'>
<div class='row testimonial karan'>
<div class='col-lg-3 col-md-3 col-sm-3'>
<div class='pull-right'><img alt="Karan-verma" src="https://dmrxx81gnj0ct.cloudfront.net/assets/homepage/karan-verma-786fd0fa6cff059bc7c1b36af8cffec6.png" /></div>
</div>
<div class='col-lg-9 col-md-9 col-sm-9'>
<blockquote>
<h2>
<span class='quotation-mark'>&ldquo;</span>
At the end of the week I had 8 offers, I was slightly overwhelmed but that was clearly the position I wanted to be in! It was just amazing. Great experience.
</h2>
</blockquote>
<h4>
<b>Karan Verma, Full Stack Engineer</b>
<br>Healthtap, San Francisco</br>
</h4>
</div>
</div>
</div>
</div>
<div class='background-container short gray37'>
<div class='container'>
<div class='row testimonial jonathan'>
<div class='col-lg-3 col-md-3 col-sm-3 visible-xs'>
<div class='pull-right'><img alt="Johnathan-otto" src="https://dmrxx81gnj0ct.cloudfront.net/assets/homepage/johnathan-otto-d2ebbcb8de2aa1fa37ca406dda414321.png" /></div>
</div>
<div class='col-lg-9 col-md-9 col-sm-9 text-right'>
<blockquote class='pull-right'>
<h2>
<span class='quotation-mark'>&ldquo;</span>
Living in Milwaukee, Hired gave me a broadcasting platform to interact with lots of employers in a very fast and efficient manner. Two weeks after applying I was employed and living in San Francisco.
</h2>
</blockquote>
<h4 class='visible-xs'>
<b>Jonathon Otto, SOftware Engineer</b>
<br>Lookout Mobile Security, San Francisco</br>
</h4>
<h4 class='pull-right hidden-xs'>
<b>Jonathon Otto, SOftware Engineer</b>
<br>Lookout Mobile Security, San Francisco</br>
</h4>
</div>
<div class='col-lg-3 col-md-3 col-sm-3 hidden-xs'>
<img alt="Johnathan-otto" src="https://dmrxx81gnj0ct.cloudfront.net/assets/homepage/johnathan-otto-d2ebbcb8de2aa1fa37ca406dda414321.png" />
</div>
</div>
</div>
</div>
<div class='background-container gray40'>
<div class='container'>
<div class='row'>
<div class='col-lg-12'>
<h2 class='page-header'>800+ Employers use Hired</h2>
<div class='employer-logos'><img alt="Employer-grid-monochrome" src="https://dmrxx81gnj0ct.cloudfront.net/assets/marketing/employer-grid-monochrome-900e442b015d4ca37778695088593ccc.png" /></div>
</div>
</div>
</div>
</div>
<div class='pressquotes background-container gray37'>
<div class='container'>
<div class='row flush'>
<div class='col-lg-12'>
<div class='row flush'>
<div class='pressquote col-lg-3 col-md-6 col-sm-6 col-xs-6'>
<a href='http://techcrunch.com/2012/10/26/developer-auction-racks-up-78-million-more-bids-expands-to-la/'>
<img alt="TechCrunch" src="https://dmrxx81gnj0ct.cloudfront.net/assets/marketing/logo-tc-da6d8ebeea941e6919cfc2c46effd418.png" />
<p>
<span class='quotation-mark'>&ldquo;</span>
[Hired] flips the recruiting model on its head.
</p>
</a>
</div>
<div class='pressquote col-lg-3 col-md-6 col-sm-6 col-xs-6'>
<a href='http://thenextweb.com/entrepreneur/2012/11/04/the-future-of-recruiting-in-the-technology-industry/'>
<img alt="TNW" src="https://dmrxx81gnj0ct.cloudfront.net/assets/marketing/logo-tnw-73da38346d450267b2fd5d370695da45.png" />
<p>
<span class='quotation-mark'>&ldquo;</span>
The future of recruiting in the technology industry.
</p>
</a>
</div>
<div class='pressquote col-lg-3 col-md-6 col-sm-6 col-xs-6'>
<a href='http://www.forbes.com/sites/jjcolao/2012/10/15/hounded-by-recruiters-coders-put-themselves-up-for-auction/'>
<img alt="Forbes" src="https://dmrxx81gnj0ct.cloudfront.net/assets/marketing/logo-forbes-e75f682b946c2021fe97e6b7b526d2ed.png" />
<p>
<span class='quotation-mark'>&ldquo;</span>
Surface the most promising talent.
</p>
</a>
</div>
<div class='pressquote col-lg-3 col-md-6 col-sm-6 col-xs-6'>
<a href='http://mashable.com/2012/09/18/developer-auction/'>
<img alt="Mashable" src="https://dmrxx81gnj0ct.cloudfront.net/assets/marketing/logo-mashable-b6a8da246c96d2f0cce33687995070b3.png" />
<p>
<span class='quotation-mark'>&ldquo;</span>
Finding a new job that pays you the salary you want made simple.
</p>
</a>
</div>
</div>

</div>
</div>
</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=341938729194248";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class='faq background-container gray40'>
<div class='container'>
<div class='row'>
<div class='question'>
<h3>Which cities do you cover?</h3>
</div>
<div class='question'>
<h3>Am I forced to accept the highest offer?</h3>
</div>
<div class='question'>
<h3>How do you make money?</h3>
</div>
</div>
</div>
<div class='row'>
<div class='col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4'>
<a href="/talent_faq" class="btn btn-lg btn-block btn-inverse-outline">Read our FAQ</a>
</div>
</div>
</div>




<!-- End Quantcast tag -->

<!-- 
<div class='container footer'>
<hr>
<h3 class='recommended-link normal-case'>
<a href="/invite?traffic_source=_f_home_index">Recommend Hired to your friends and receive a reward for any friend who gets a job</a>
</h3>
<nav>
<a href="/">Home</a>
<a href="/employers">Employers</a>
<a href="/about">About</a>
<a href="/support">Support</a>
<a href="/blog">Blog</a>
<a href="/careers">Careers</a>
<a href="/privacy">Privacy</a>
<a href="/terms">Terms</a>
<div class='clearfix'></div>
</nav>
<div class='footer-copyright'>&copy; 2014 Hired, Inc. All Rights Reserved.</div>
</div>
 -->





</body>
</html>

