// import the CSS framework
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
/* NAV Styling*/
/* nav bar main icon(top-left png) styling*/

.navImg{

  height:30px;
  width: auto;
  position:relative;

}

.nav-icon{
  float: left;
  padding: 10px;

 
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #CC2B2B;
  background-color: transparent;
  
}

.navbar-inverse .navbar-brand {
  color: white; 
  transition: color, .2s ease;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 13.8px;

}

.navbar-nav {
  float: right;
  margin: 0;
}



/*end Nav Styling*/

main{
  min-height: 700px;
}

/*button link white*/
a {
  color: white;
  text-decoration: none;
}
a:hover, a:focus {
  color: white;
  text-decoration: none;
}


.slogan{
  font-family: 'Montserrat', sans-serif;
}

/* Large desktop */
@media (min-width: 980px) { 
  .slogan{
  font-size:60px;
}
 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .slogan{
  font-size:50px;
} }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { .slogan{
  font-size:40px;
}}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
.slogan{
  font-size:30px;
}}



/*Application Background Color to Darker Grey*/

/* line 58, /Users/CJMeeker/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets/bootstrap/_scaffolding.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


/*all buttons maroon*/
.btn-primary, .submit, .authform .button, .button-xs {
  color: white;
  background-color: maroon;
  border-color: maroon;
}

.btn-primary:hover, .submit:hover, .authform .button:hover, .button-xs:hover, .btn-primary:focus, .submit:focus, .authform .button:focus, .button-xs:focus, .btn-primary:active, .submit:active, .authform .button:active, .button-xs:active, .btn-primary.active, .active.submit, .authform .active.button, .active.button-xs, .open > .btn-primary.dropdown-toggle, .open > .dropdown-toggle.submit, .authform .open > .dropdown-toggle.button, .open > .dropdown-toggle.button-xs {
  color: white;
  background-color: maroon;
  border-color: maroon;
}


// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }





// Styles for Devise views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}




